<h1>Todo App</h1>
<div>
  <input type="text" [(ngModel)]="inputValue" placeholder="add todo" />
  <button (click)="handleClick()">Add Todo</button>
</div>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr class="todo-item" *ngFor="let item of todoList">
      <td class="id">{{ item.id }}</td>
      <td class="name">{{ item.name }}</td>
      <td class="description">{{ item.description }}</td>
      <td class="status">{{ item.status }}</td>
    </tr>
  </tbody>
</table>

<!-- <ul *ngIf="todoList.length>0">
  <li *ngFor = "let task of todoList;let i = index">
      {{task |json}}
    <input type="checkbox" [(ngModel)]="task.status">
  </li>
</ul> -->
