<h1>Todo App</h1>
<div>
  <input type="text" [(ngModel)]="inputValue" placeholder="add todo" />
  <button (click)="handleClick()">Add To do</button>
</div>
<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr class="todo-item" *ngFor="let item of todoList">
      <td class="id">{{ item.id }}</td>
      <td class="name">{{ item.name }}</td>
      <td class="description">{{ item.description }}</td>
      <td class="status">{{ item.status }}</td>
    </tr>
  </tbody>
</table>